<div class="wrapper">
    <h2 class="color-1">@@manufacturer_text@@ @@model_text@@ @@type_info@@</h2>
    <div class="nest">
    	<div class="grid-4">
            <a href="cars/@@custom_car_id@@/detail.html"><img width="80%" height="60%" alt="auto-s.cz" class="title_image" src="cars/@@custom_car_id@@/@@firstFoto@@"></a>
        </div>
        <div class="grid-6">
    		<div class="text-ad">
                Objem: @@engine_volume@@ / Výkon: @@engine_power@@ kW</br>
                Najeto: @@tachometr@@ km</br>
                Barva: @@color_text@@</br>
                Rok výroby: @@made_date@@</br>
                Cena: <span class="color-1">@@price@@ kč</span></br>                            
                @@priceDPH@@</br>
                <ul class="list-1">
                    <li><a href="cars/@@custom_car_id@@/detail.html">Zobrazit detail automobilu</a></li>
                </ul>
            </div>
    	</div>           
	</div>
</div>